<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/index.css">
    <title>Home</title>
</head>
<body style="background-color: rgba(0, 0, 0, 0.542);">
    <div class="container">
        <h1>WEB BASED FACE AUTHENTICATION SYSTEM</h1>
    </div>
    
    <br>
    <div class="container">
        
        <div class="links">
            <a href="/signup_form">Sign up</a>
            <a href="/login_form">Login</a>
        </div>
    </div>
</body>
</html>